# CORE
# ---------------------------------------------------------------------------------------------------------------------
fastapi[standard]
celery==5.4.0
celery[redis]
requests==2.32.4


# DEV DEPENDENCIES
# ---------------------------------------------------------------------------------------------------------------------
ipython==8.28.0